body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
  background-position: center;
  background-size: cover;
  position: relative;
}

.slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease;
}

.slide.active {
  opacity: 1;
}

.slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

ul {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.logo img {
  height: 100px;
}

ul li {
  text-align: center;
}

ul li a {
  text-decoration: none;
  display: block;
  padding: 20px;
}

ul li a .icon {
  width: 40px;
  height: 40px;
  text-align: center;
  overflow: hidden;
  margin: 0 auto 5px;
}

ul li a .icon .fa {
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-size: 24px;
  transition: 0.5s;
  color: #fff;
}

ul li a:hover .icon .fa:last-child {
  color: #ffd700;
}

ul li a:hover .icon .fa {
  transform: translateY(-100%);
}

ul li a .name {
  position: relative;
  height: 20px;
  width: 100%;
  display: block;
  overflow: hidden;
}

ul li a .name span {
  display: block;
  position: relative;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  transition: 0.5s;
}

ul li a .name span::before {
  content: attr(data-text);
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  color: #ffd700;
}

ul li a:hover .name span {
  transform: translateY(20px);
}

.center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.company-name {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 3s steps(40, end);
  animation-fill-mode: forwards;
  color: #ffa500;
}

.description {
  font-size: 24px;
}

.typing-animation {
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: initial;
  }
}

button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #028a08;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  animation: none;
}

button span {
  background: #028a08;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span {
  width: 100%;
}

button:hover {
  border: none;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle i {
  color: #fff;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 78px;
    left: 0;
    width: 96.2%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    z-index: 999;
  }

  ul.menu-open {
    display: flex;
  }

  ul li {
    border-right: none;
    margin-bottom: 10px;
  }

  ul li:last-child {
    margin-bottom: 0;
  }

  ul li a {
    padding: 0;
    font-size: 16px;
  }
  .center-content{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .company-name {
    font-size: 36px;
    white-space: normal;
  }

  .description {
    font-size: 18px;
  }

  button {
    width: 160px;
    padding: 12px 0;
    font-size: 14px;
  }

  .center-content {
    top: 40%;
  }
}
